<header ng-controller="HeaderController">
    <h1 class="logo">
      <a href="/">
        <img src="/img/malika.jpg" alt="logo">
      </a>
    </h1>
  
    <nav>
      <a href="/" ng-class="{'active': activePage === '/'}">Home</a>
      <a href="/news" ng-class="{'active': activePage === '/news'}">News</a>
      <a href="/trends" ng-class="{'active': isActive('/trends')}">Trends</a>
      <a href="/indexshop" ng-class="{'active': activePage === '/indexshop'}">Shops</a>
    </nav>
  
    <span ng-if="!isLoggedIn()"> 
      <a href="/auth/signin">Sign In</a>
    </span>
    <span ng-if="isLoggedIn()"> 
        <a href="/profile" class="no-style-link">{{ userName }}</a>
    </span>
  </header>
  
<script>
    angular.module('app', [])
    .controller('HeaderController', function($scope, $http, $window) {
        $scope.activePage = window.location.pathname;
        console.log('Initial activePage:', $scope.activePage);

        $scope.isActive = function (page) {
        if (page === '/trends') {
            return $scope.activePage.startsWith('/trends');
        }
        return $scope.activePage === page;
    };

        $scope.$on('$locationChangeSuccess', function() {
            $scope.activePage = window.location.pathname;
            console.log('Updated activePage:', $scope.activePage);
        });

        $scope.loggedInChecked = false;

        $scope.isLoggedIn = function() {
            if (!$scope.loggedInChecked) {
                console.log('Checking login status...');
                $http.get('/auth/check-login') 
                    .then(function(response) {
                        console.log('Login check response:', response); 
                        if (response.data.loggedIn) {
                            $scope.userName = response.data.userName; 
                        } else {
                            $scope.userName = null; 
                        }
                        $scope.loggedInChecked = true;
                    })
                    .catch(function(error) {
                        console.error('Error checking login status:', error);
                    });
            }

            return $scope.userName !== null;
        };

        $scope.isLoggedIn();
    });
</script>
