<header>
    <input type="checkbox" name="" id="check">
    <label for="check" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
    <h1 class="logo">
      <a href="/index.html">
          <img src="/img/malika.jpg" alt="logo">
      </a>
    </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/fashionNews/fashionNews.html">News</a>
        <a href="/trends">Trends</a>
        <a href="/shop/indexshop.html">Shops</a>
    </nav>
    <a href="/SignIn/signIn.html" class="btn" id="sign-up-btn">
        <i class="fas fa-user"></i> Sign In
    </a>
  </header>